**/target/
**/.mvn/
**/.idea/
**/*.log
**/logs/
**/log/
**/*.iml/
**/.vscode/
**/.settings/
**/.project
**/.classpath
**/.DS_Store
**/Thumbs.db
**/node_modules/
**/package-lock.json

# 上传文件（运行时生成）
uploads/
**/backup/
